<div class="password-validator">
  <div class="password-strength">
    <div class="password-strength__fields">
      <div
        class="weak field"
        [ngStyle]="{ 'background-color': colorListWeak[state] }"
      ></div>
      <div
        class="medium field"
        [ngStyle]="{ 'background-color': colorListMedium[state] }"
      ></div>
      <div
        class="strong field"
        [ngStyle]="{ 'background-color': colorListStrong[state] }"
      ></div>
    </div>
    <div class="password-strength__description">
      <div *ngIf="state==0">You could not have an <span class="empty bold text-shadow">empty</span> password!</div>
      <div *ngIf="state==1">the password is too <span class="short bold text-shadow">short</span>!</div>
      <div *ngIf="state==2">the password is <span class="easy bold text-shadow">easy</span>.</div>
      <div *ngIf="state==3">the password is <span class="medium bold text-shadow">medium</span>.</div>
      <div *ngIf="state==4">the password is <span class="strong bold text-shadow">strong</span>.</div>
    </div>
  </div>
</div>
