<div class="container">
  <div class="form-group">
    <form class="form"
    [formGroup]="formGroup">
      <label class="pw-label"><span>Password</span></label>
      <hr />
      <app-input-area [formControlName]="'userPassword'" (ngModelChange)="onKeyupPasswordInput()"></app-input-area>
    </form>
    <app-password-strength-area
      [colorListWeak]="colorListWeak"
      [colorListMedium]="colorListMedium"
      [colorListStrong]="colorListStrong"
      [state]="state"
    ></app-password-strength-area>
  </div>
</div>
